<%= form_with(model: [@course, @quiz || @course.quizzes.new]) do |form| %>
  <% if @teacher.present? && @course.present? %>
    <%= form.hidden_field :teacher_id, value: @teacher.id %>
    <%= form.hidden_field :course_id, value: @course.id %>
  <% end %>

  <!-- Add your form fields here -->
  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="field">
    <%= form.label :option_a %>
    <%= form.text_field :option_a %>
  </div>

  <div class="field">
    <%= form.label :option_b %>
    <%= form.text_field :option_b %>
  </div>

  <div class="field">
    <%= form.label :option_c %>
    <%= form.text_field :option_c %>
  </div>

  <div class="field">
    <%= form.label :option_d %>
    <%= form.text_field :option_d %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>