<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Statistics</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

       .dashboard-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding: 15px;
    background: linear-gradient(to right, #2575fc, #6a11cb);
    color: white;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
  }

        .table {
            width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 5px 15px gray;
    border-radius: 8px;
    overflow: hidden;
  }

        .table th, .table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .table th {
            background-color: #2776FB;
            color: white;
        }

       
        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tr:nth-child(odd) {
            background-color: #ffffff;
        }
        .students-table {
    width: 80%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 5px 15px gray;
    border-radius: 8px;
    overflow: hidden;
  }

  .back-btn {
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 550px;

    background-color: #774EA2;
    color: white;
    border: 2px solid #774EA2;
  }

  .back-btn:hover {
    background-color: #9b7dc6;
  }
    </style>
</head>
<body>

<h1 class="dashboard-title">Quiz Statistics for <%= @course.title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>SR NO.</th>
      <th>Quiz</th>
      <th>Total Students Attempted</th>
      <th>Total Students Passed</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each_with_index do |quiz, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= quiz.question %></td>
        <td><%= @student_attempts.count { |student_id, count| count > 0 } %></td>
        <td><%= @students_passed.count { |student_id, count| count > 0 } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-container">
  <%= link_to "Back", root_path, class: "btn back-btn" %>
</div>
</body>
</html>