<h1>Quiz Details</h1>

<p><strong>Question:</strong> <%= @quiz.question %></p>

<h2>Options:</h2>
<ul>
  <li><strong>A:</strong> <%= @quiz.option_a %></li>
  <li><strong>B:</strong> <%= @quiz.option_b %></li>
  <li><strong>C:</strong> <%= @quiz.option_c %></li>
  <li><strong>D:</strong> <%= @quiz.option_d %></li>
</ul>

<p><strong>Correct Answer:</strong> <%= @quiz.answer %></p>

<p><strong>Course:</strong> <%= @quiz.course.title if @quiz.course.present? %></p>


<%= link_to "Back to Quizzes", course_quizzes_path(@quiz.course), class: "btn back-btn" %>
<style>
  .back-btn {
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-left: 510px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    outline: none;

    background-color: #774EA2;
    color: white;
    border: 2px solid #774EA2;
  }

  .back-btn:hover {
    background-color: #9b7dc6;
  }
</style>