<h1>Welcome to Our E-Learning Platform</h1>
<p>Start learning today with our expert-led courses.</p>
<h1 class="text-3xl font-bold underline">
</h1>
<% if current_user.role == 'teacher' %>
  <%= link_to "Add Course", new_course_path(teacher_id: @teacher, student_id: @student), class: "btn btn-primary" %>
  <%= link_to "Add Quiz", new_quiz_path, class: "btn btn-primary" %> <br>
  <%= link_to "View All Courses", courses_path, class: "btn btn-primary" %>
  <%= link_to "View All Quizzes", quizzes_path, class: "btn btn-primary" %>
<% end %>

<% if current_user.role == 'admin' %>
  <%= link_to "View Teachers", teachers_path, class: "btn btn-primary" %>
  <%= link_to "View Quizzes", quizzes_path, class: "btn btn-primary" %>
  <%= link_to "View Courses", courses_path, class: "btn btn-primary" %>
  <%= link_to "View Students", students_path, class: "btn btn-primary" %>
<% end %>  



